.artigo__grid {
  display: grid;
  grid-template-columns: 75% 25%;
}

.artigo-titulo {
  font-weight: 700;
  line-height: 120%;
  color: $red-normal;
  text-align: left;
  margin-bottom: 0;
}

.artigo-subtitulo {
  font-weight: 500;
  font-size: 1.25rem;

  color: $grey-dark;
  margin-left: 0;
}

.artigo-conteudo {
  margin-top: 3rem;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 140%;

  color: $grey-light;

  .span-list {
    padding: 0 5rem;
    display: block;

    &::before {
      content: "*";
    }
  }
}

.artigo-ft {
  max-height: 400px;
  width: 80%;
  margin: 3rem auto 0 auto !important;
  overflow: hidden;
  img {
    object-fit: cover;
    display: block;

    max-width: 100%;
  }
}

.artigo__grid .blog__newsletter {
  margin: 4rem 0;
}

// Aside

aside {
  padding: 1.25rem 0 1.25rem 1.25rem;
  border-left: 1px solid $grey-light;
  margin-left: 1.25rem;
  p {
    margin-left: 0;
  }
}

.artigo__perfil {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  p {
    font-family: "Playfair Display", serif;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 130%;
    color: $grey-black;
  }
  .artigo__perfil-desc {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    line-height: 120%;
    color: $grey-light;
  }
}

.artigo__perfil-gabi {
  img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid $grey-dark;
  }
}

.artigos__textos {
  font-family: "Inter", sans-serif !important;
  color: $grey-dark;

  div {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    margin-bottom: 2rem;
    align-items: center;
  }

  span {
    background-color: $red-normal;
    padding: 4px 12px;
    border-radius: 20px;
    font-size: 0.75rem;
    color: $bg-light;

    grid-row: 1;
    grid-column: 1;
  }
  p {
    font-weight: 700;
    font-size: 0.875rem;
    padding-top: 0.5rem;
    grid-row: 2;
    grid-column: 1;
  }
  img {
    grid-row: 1 / -1;
    grid-column: 2;
    margin: 0 -1rem 0 1rem;
    width: 130px;
    height: 100px;
    border-radius: 2px;
    opacity: 0.5;
    transition: 0.3s;
  }
}

.artigos-link-interno {
  color: inherit;
  &:hover img {
    opacity: 1;
  }
}

.artigos__textos-tit {
  font-family: "Playfair Display", serif !important;
  font-weight: 700 !important;
  font-size: 1.125rem !important;

  color: $grey-dark !important;
  margin: 2rem 0 1rem 0 !important;
}

.artigos__share div {
  display: flex;
  width: 50px;
  height: 50px;
  gap: 1rem;
  img {
    max-width: 30px;
  }
}

.artigos__share-item {
  padding: 0.5rem;
  border: 2px solid $red-normal;
  transition: 0.2s;
  opacity: 0.8;
  &:hover {
    opacity: 1;
  }
}

// Mobile
@media (max-width: 800px) {
  .artigo__grid {
    grid-template-columns: 1fr;
  }

  .artigo-titulo {
    padding: 2rem 20px 1rem 20px;
  }

  .artigo-subtitulo {
    padding: 0 20px;
  }

  .artigo-conteudo {
    margin-left: 0;
    padding: 0 20px;
  }

  .artigo-ft {
    width: 90%;
  }

  .artigo__grid .blog__newsletter {
    margin: 3rem 20px;
  }

  aside {
    padding: 0 20px;
    border-left: none;
    margin-left: 0rem;
  }

  .artigo__perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .artigos__textos {
    font-family: "Inter", sans-serif !important;
    color: $grey-dark;

    div {
      display: grid;
      grid-template-columns: auto 1fr;
      grid-template-rows: auto 1fr;
      margin-bottom: 2rem;
    }

    span {
      background-color: $red-normal;
      padding: 4px 12px;
      border-radius: 20px;
      font-size: 0.75rem;
      color: $bg-light;

      grid-row: 1;
      grid-column: 1;
    }
    p {
      font-weight: 500;
      font-size: 16px;
      padding-top: 0.5rem;
      grid-row: 2;
      grid-column: 1;
    }
    img {
      grid-row: 1 / -1;
      grid-column: 2;
      margin: 0 auto;
    }
  }

  .artigos__textos-tit {
    font-family: "Playfair Display", serif !important;
    font-weight: 700 !important;
    font-size: 1.125rem !important;

    color: $grey-dark !important;
    margin: 2rem 0 1rem 0 !important;
  }
}
