// Cores

$bg-light: #faf9f2;
$bg-normal: #f6f6f6;

$grey-light: #aaa;
$grey-dark: #3e3b3b;
$grey-black: #1d1e1f;

$red-light: #a83e3e;
$red-normal: #8f2525;
$red-dark: #3c1e1e;

// Espaçamentos

$gap0: 0px;
$gap1: 8px;
$gap2: 16px;
$gap3: 24px;
$gap4: 32px;
$gap5: 48px;
$gap6: 64px;
$gap7: 80px;
$gap8: 96px;
$gap9: 128px;

// Elementos Base

.container {
  max-width: 1200px;
  margin: 0 auto !important;
}

.divisor {
  &::after {
    content: "";
    display: block;
    position: absolute;
    height: 4px;
    background: $red-normal;
    transform: translateY(16px);
  }
}

.dv1 {
  &::after {
    width: 100%;
    left: -100px;
  }
}

.dv2 {
  &::after {
    width: 50%;
    right: 0px;
  }
}

.dv3 {
  &::after {
    width: 70%;
    top: 3rem;
    left: 0;
    background: $bg-light !important;
  }
}

// Mobile
@media (max-width: 800px) {
  .divisor {
    &::after {
      height: 2px;
    }
  }

  .dv2 {
    &::after {
      width: 100%;
      left: -100px;
    }
  }

  .dv3 {
    display: none;
  }
}
