// Seção Chamada
.chamada-bg {
  background: linear-gradient(90deg, #faf9f2 80%, #8b2424 80%);
}
.chamada-bg2 {
  background: linear-gradient(90deg, #8b2424 20%, #faf9f2 20%);
}

.chamada {
  display: grid;
  grid-template-columns: 66% 34%;
  padding: $gap6 0;
}
.chamada2 {
  display: grid;
  grid-template-columns: 34% 66%;
  padding: $gap6 0;
}

.chamada__txt {
  margin-right: 16%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;

  a {
    display: inline-flex;
  }
  p {
    margin: $gap6 0 $gap4 0;
  }
}

.chamada__txt2 {
  margin-left: 16%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  a {
    display: inline-flex;
  }
  p {
    margin: $gap6 0 $gap4 0;
  }
}

.chamada__img {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  box-shadow: 0px 74px 80px rgba(0, 0, 0, 0.14),
    0px 27.0112px 29.2013px rgba(0, 0, 0, 0.0965974),
    0px 13.1134px 14.1767px rgba(0, 0, 0, 0.0778807),
    0px 6.42845px 6.94968px rgba(0, 0, 0, 0.0621193),
    0px 2.54182px 2.74791px rgba(0, 0, 0, 0.0434026);
}

.chamada__img-leg {
  background-color: $grey-black;
  color: $bg-light;
}
.chamada__img-leg2 {
  background-color: $bg-light;
  color: $grey-black;
}

// Mobile
@media (max-width: 800px) {
  .chamada-bg {
    background: none;
  }
  .chamada-bg2 {
    background: none;
  }

  .chamada {
    grid-template-columns: 1fr;
    padding: 1rem;
  }
  .chamada2 {
    grid-template-columns: 1fr;
    padding: $gap5 0;
  }

  .chamada__txt {
    margin: 4rem 0 0 0;
    p {
      margin: $gap4 0;
    }
  }

  .chamada__txt2 {
    margin: 4rem 0 0 0;
    p {
      margin: $gap4 0;
    }
  }

  .chamada__img {
    grid-row: 1;
    img {
      height: 200px;
      object-fit: cover;
    }
  }
}
