header {
  display: flex;
  justify-content: space-between;
}

.header__link {
  color: $red-dark;
  transition: 0.3s ease;
  position: relative;

  &::after {
    content: "";
    display: block;
    height: 1px;
    width: 0%;
    background-color: $red-dark;
    margin-top: 2px;
    transition: 0.4s;
  }

  &:hover:after {
    width: 100%;
    position: absolute;
  }
}

.header__logo img {
  max-width: 100%;
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__nav ul {
  gap: $gap4;
}
