header {
  display: flex;
  justify-content: space-between;
}

.header__link {
  color: $red-dark;
  transition: 0.3s ease;
  position: relative;

  &::after {
    content: "";
    display: block;
    height: 1px;
    width: 0%;
    background-color: $red-dark;
    margin-top: 2px;
    transition: 0.4s;
  }

  &:hover:after {
    width: 100%;
    position: absolute;
  }
}

.header__logo img {
  max-width: 100%;
}

#header__nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

#header__nav ul {
  gap: $gap4;
}

#btn__mobile {
  display: block;
}

.header__menu {
  display: block;
}

// Mobile
@media (max-width: 800px) {
  #btn_mobile {
    display: block;
  }
  #btn__mobile {
    padding: 0.5rem 1rem;
    display: flex;
    border: none;
    background: none;
    cursor: pointer;
    color: $grey-dark;
    font-family: "Inter";
    font-weight: bold;
  }
}

#header__nav {
  margin-right: 0vw;
  font-family: "Inter", sans-serif;
  color: $grey-dark;
  font-size: 1.25rem;
}

.header__nav-item {
  margin-left: 0rem;
  padding: 0rem;
}

.header__nav-item:hover {
  background-color: tomato;
  color: $grey-dark;
  transition: 0.3s;
  border-radius: 4px;
}

#header__nav.active .header__menu {
  visibility: visible;
  height: calc(46vh - 50px);
  overflow-y: auto;
}

.header__menu li {
  margin: 0.5rem 0rem;
}
.hamburguer {
  display: block;
  border-top: 2px solid;
  width: 20px;
  margin-left: 5px;
}

.hamburguer::after,
.hamburguer::before {
  content: "";
  display: block;
  width: 20px;
  height: 2px;
  background: currentColor;
  margin-top: 5px;
  transition: 0.3s;
  position: relative;
}

#header__nav.active .hamburguer {
  border-top-color: transparent;
}

#header__nav.active .hamburguer::after {
  transform: rotate(-135deg);
  top: -7px;
}

#header__nav.active .hamburguer::before {
  transform: rotate(135deg);
}
