@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

h1::-moz-selection, h2::-moz-selection, h3::-moz-selection, h4::-moz-selection, h5::-moz-selection, h6::-moz-selection, label::-moz-selection, p::-moz-selection {
  background-color: #a83e3e;
  color: #faf9f2;
}

h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection,
label::selection,
p::selection {
  background-color: #a83e3e;
  color: #faf9f2;
}

footer p::-moz-selection {
  background-color: #faf9f2;
  color: #a83e3e;
}

footer p::selection {
  background-color: #faf9f2;
  color: #a83e3e;
}

.container {
  max-width: 1200px;
  margin: 0 auto !important;
}

.divisor::after {
  content: "";
  display: block;
  position: absolute;
  height: 4px;
  background: #8f2525;
  transform: translateY(16px);
}

.dv1::after {
  width: 100%;
  left: -100px;
}

.dv2::after {
  width: 55%;
  right: 0px;
}

.dv3::after {
  width: 70%;
  top: 3rem;
  left: 0;
  background: #faf9f2 !important;
}

@media (max-width: 800px) {
  .divisor::after {
    height: 2px;
  }
  .dv2::after {
    width: 100%;
    left: -100px;
  }
  .dv3 {
    display: none;
  }
}
@media (min-width: 1400px) {
  .divisor::after {
    height: 4px;
  }
  .dv1::after {
    width: 90%;
    left: 0px;
  }
  .dv2::after {
    width: 30%;
    right: 40%;
    transform: translate(50%, 1rem);
  }
}
h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: "Playfair Display", serif;
}

p {
  font-family: "Inter", sans-serif;
}

h1 {
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 4rem;
  line-height: 120%;
  color: #3c1e1e;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 120%;
  text-align: center;
  color: #3e3b3b;
  position: relative;
  margin-bottom: 1rem;
}
h3 span {
  content: "";
  position: absolute;
  width: 100px;
  height: 4px;
  left: 50%;
  bottom: -16px;
  transform: translateX(-50%);
  background: #8f2525;
}

h4 {
  font-size: 1.5rem;
  padding: 1rem 0;
}

h5 {
  font-size: 16px;
  padding: 16px;
}

h6 {
  font-weight: 700;
  font-size: 24px;
  color: #8f2525;
}

a {
  text-decoration: none;
}

.btn__pri {
  padding: 12px 24px;
  background: #8f2525;
  border: 2px solid #8f2525;
  border-radius: 2px;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 120%;
  color: #faf9f2;
  transition: 0.4s ease;
  margin-right: 1rem;
}
.btn__pri:hover {
  background: #6e1a1a;
  border: 2px solid #6e1a1a;
}

.btn {
  padding: 12px 24px;
  border-radius: 2px;
  border: 2px solid #a83e3e;
  overflow: hidden;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 120%;
  color: #a83e3e;
  position: relative;
}
.btn::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #a83e3e;
  z-index: -1;
  transition: 0.4s ease;
}
.btn:hover {
  z-index: 1;
}

.btn__sec {
  transition: 0.3s ease;
}
.btn__sec::before {
  width: 0;
  height: 100%;
}
.btn__sec:hover {
  color: #faf9f2;
}
.btn__sec:hover::before {
  width: 100%;
}

.txt-apoio {
  font-weight: 900;
  font-size: 0.875rem;
  line-height: 120%;
  text-transform: uppercase;
  color: #8f2525;
}

.tit-sec {
  font-weight: 700;
  font-size: 3rem;
  line-height: 120%;
  color: #3e3b3b;
}

.tit-sec-div::after {
  content: "";
  position: absolute;
  bottom: -48px;
  left: 50%;
  width: 4px;
  height: 40px;
  background-color: #3e3b3b;
}

.txt-base {
  line-height: 140%;
  color: #aaa;
}

@media (max-width: 800px) {
  .btn__pri {
    margin-right: 0rem;
  }
  h1 {
    font-weight: 700;
    font-size: 3rem;
    line-height: 120%;
    color: #3c1e1e;
  }
  h3 span {
    height: 2px;
  }
  .tit-sec-div::after {
    width: 2px;
  }
}
body {
  width: 100%;
  background-color: #faf9f2;
}

ul {
  display: flex;
  list-style-type: none;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-start: 0;
          margin-inline-start: 0;
  -webkit-margin-end: 0;
          margin-inline-end: 0;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

header {
  display: flex;
  justify-content: space-between;
}

.header__link {
  color: #3c1e1e;
  transition: 0.3s ease;
  position: relative;
}
.header__link::after {
  content: "";
  display: block;
  height: 2px;
  width: 0%;
  background-color: #3c1e1e;
  margin-top: 2px;
  transition: 0.4s;
}
.header__link:hover:after {
  width: 100%;
  position: absolute;
}

.header__logo img {
  max-width: 100%;
}

#header__nav {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.125rem;
}

#header__nav ul {
  gap: 32px;
}

#btn__mobile {
  display: none;
}

.header__menu {
  display: flex;
}

@media (max-width: 800px) {
  header {
    background-color: #d7d5cb;
  }
  #btn_mobile {
    display: block;
  }
  #btn__mobile {
    padding: 0.5rem 1rem;
    display: flex;
    border: none;
    background: none;
    cursor: pointer;
    color: #3e3b3b;
    font-family: "Inter", sans-serif;
    font-weight: bold;
  }
  #header__menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 70px;
    right: 0;
    background-color: #d7d5cb;
    z-index: 1000;
    height: 0;
    transition: 0.6s;
    visibility: hidden;
    overflow-y: hidden;
    text-align: right;
  }
  #header__nav.active #header__menu {
    display: block;
    visibility: visible;
    overflow-y: auto;
    height: calc(100vh - 70px);
  }
  #header__menu a {
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    display: inline-block;
    font-size: 1.125rem;
  }
  .hamburguer {
    display: block;
    border-top: 2px solid;
    width: 20px;
    margin-left: 5px;
  }
  .hamburguer::after,
.hamburguer::before {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }
  #header__nav.active .hamburguer {
    border-top-color: transparent;
  }
  #header__nav.active .hamburguer::after {
    transform: rotate(-135deg);
    top: -7px;
  }
  #header__nav.active .hamburguer::before {
    transform: rotate(135deg);
  }
}
.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.hero__txt {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 128px;
}

.hero__cta {
  margin-top: 4rem;
}

.hero__img {
  display: flex;
  justify-content: flex-end;
  padding: 32px 0;
}
.hero__img img {
  filter: drop-shadow(0px 74px 80px rgba(0, 0, 0, 0.14)) drop-shadow(0px 27.0112px 29.2013px rgba(0, 0, 0, 0.0965974)) drop-shadow(0px 13.1134px 14.1767px rgba(0, 0, 0, 0.0778807)) drop-shadow(0px 6.42845px 6.94968px rgba(0, 0, 0, 0.0621193)) drop-shadow(0px 2.54182px 2.74791px rgba(0, 0, 0, 0.0434026));
}

@media (max-width: 800px) {
  .hero {
    grid-template-columns: 1fr;
  }
  .hero__txt {
    padding: 32px 1rem 0 1rem;
  }
  .hero__cta {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .hero__img {
    padding-top: 16px;
    display: flex;
    justify-content: center !important;
  }
  .hero__img img {
    max-width: 100%;
    transform: scale(0.8);
  }
}
.areas {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 80px 0;
}

.areas__tit {
  position: relative;
}

.areas__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  padding: 80px 0;
}

.areas__item {
  background-color: #f6f6f6;
  padding: 32px;
  border-radius: 10px;
  transition: 0.4s ease;
  box-shadow: 0px 18px 82px rgba(0, 0, 0, 0.07), 0px 5.42647px 24.7206px rgba(0, 0, 0, 0.0456112), 0px 2.25388px 10.2677px rgba(0, 0, 0, 0.035), 0px 0.815184px 3.71362px rgba(0, 0, 0, 0.0243888);
}
.areas__item:hover {
  box-shadow: 0px 74px 80px rgba(0, 0, 0, 0.14), 0px 27.0112px 29.2013px rgba(0, 0, 0, 0.0965974), 0px 13.1134px 14.1767px rgba(0, 0, 0, 0.0778807), 0px 6.42845px 6.94968px rgba(0, 0, 0, 0.0621193), 0px 2.54182px 2.74791px rgba(0, 0, 0, 0.0434026);
}
.areas__item h4 {
  cursor: default;
}
.areas__item p {
  line-height: 140%;
  color: #aaa;
  cursor: default;
}

.btn-veja-mais {
  text-align: left;
  color: #3c1e1e;
  display: flex;
  margin-top: 16px;
  position: relative;
  transition: 0.4s ease;
}
.btn-veja-mais:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}
.btn-veja-mais:hover .seta {
  left: 26%;
}
.btn-veja-mais .seta {
  position: absolute;
  top: -0.5rem;
  left: 25%;
  padding: 0.3rem; /* Arrow size */
  box-shadow: 1px -1px 0 1px #3c1e1e inset;
  -webkit-box-shadow: 2px -2px #3c1e1e inset;
  border: solid transparent;
  border-width: 0 0 2rem 2rem;
  transition: 0.4s ease;
  transform: rotate(225deg);
}

@media (max-width: 800px) {
  #areas-de-atuacao {
    margin-bottom: 7rem !important;
  }
  .areas {
    padding: 48px 0;
  }
  .areas__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 32px;
    padding: 80px 1rem 0 1rem;
  }
}
.chamada-bg {
  background: linear-gradient(90deg, #faf9f2 80%, #8b2424 80%);
}

.chamada-bg2 {
  background: linear-gradient(90deg, #8b2424 20%, #faf9f2 20%);
}

.chamada {
  display: grid;
  grid-template-columns: 66% 34%;
  padding: 64px 0;
}

.chamada2 {
  display: grid;
  grid-template-columns: 34% 66%;
  padding: 64px 0;
}

.chamada__txt {
  margin-right: 16%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}
.chamada__txt a {
  display: inline-flex;
}
.chamada__txt p {
  margin: 64px 0 32px 0;
}

.chamada__txt2 {
  margin-left: 16%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.chamada__txt2 a {
  display: inline-flex;
}
.chamada__txt2 p {
  margin: 64px 0 32px 0;
}

.chamada__img {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  box-shadow: 0px 74px 80px rgba(0, 0, 0, 0.14), 0px 27.0112px 29.2013px rgba(0, 0, 0, 0.0965974), 0px 13.1134px 14.1767px rgba(0, 0, 0, 0.0778807), 0px 6.42845px 6.94968px rgba(0, 0, 0, 0.0621193), 0px 2.54182px 2.74791px rgba(0, 0, 0, 0.0434026);
}

.chamada__img-leg {
  background-color: #1d1e1f;
  color: #faf9f2;
}

.chamada__img-leg2 {
  background-color: #faf9f2;
  color: #1d1e1f;
}

@media (max-width: 800px) {
  .chamada-bg {
    background: none;
  }
  .chamada-bg2 {
    background: none;
  }
  .chamada {
    grid-template-columns: 1fr;
    padding: 1rem;
  }
  .chamada2 {
    grid-template-columns: 1fr;
    padding: 1rem;
  }
  .chamada__txt {
    margin: 4rem 0 0 0;
  }
  .chamada__txt p {
    margin: 32px 0;
  }
  .chamada__txt2 {
    margin: 4rem 0 0 0;
  }
  .chamada__txt2 p {
    margin: 32px 0;
  }
  .chamada__img {
    grid-row: 1;
  }
  .chamada__img img {
    height: 200px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media (min-width: 1400px) {
  .chamada-bg {
    background: linear-gradient(90deg, #faf9f2 70%, #892323 70%, #872222 85%, #faf9f2 85%);
  }
  .chamada-bg2 {
    background: linear-gradient(90deg, #faf9f2 15%, #892323 15%, #872222 30%, #faf9f2 30%);
  }
}
.depo-bg {
  background-color: #505b80;
  margin: 80px 0;
}

.depo {
  padding: 64px 128px;
  text-align: center;
}

.depo__depo {
  font-size: 1.125rem;
  line-height: 120%;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  position: relative;
}
.depo__depo::before {
  content: "“";
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 100px;
  line-height: 100px;
  /* identical to box height, or 100% */
  color: #03060d;
  opacity: 0.3;
  position: absolute;
  top: -1.5rem;
  left: -2rem;
}

.depo__name {
  font-family: "Playfair Display";
  text-align: right;
  margin-top: 16px;
  color: #faf9f2;
}

@media (max-width: 800px) {
  #depoimentos {
    margin: 7rem 0;
  }
  .depo-bg {
    margin: 48px 0;
  }
  .depo {
    padding: 64px 64px;
  }
  .depo__depo {
    line-height: 150%;
  }
}
.blog__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  padding: 80px 0;
  max-width: 100%;
}

.blog__img {
  background-image: url("./../img/prob2.png");
  height: 250px;
  border-radius: 2px;
}

.blog__item-txt {
  background: #f6f6f6;
  box-shadow: 0px 18px 82px rgba(0, 0, 0, 0.07), 0px 5.42647px 24.7206px rgba(0, 0, 0, 0.0456112), 0px 2.25388px 10.2677px rgba(0, 0, 0, 0.035), 0px 0.815184px 3.71362px rgba(0, 0, 0, 0.0243888);
  border-radius: 10px;
  width: 90%;
  margin: -1rem auto 0 auto;
  padding: 1.25rem 1rem;
  z-index: 2;
  transition: 0.4s;
}
.blog__item-txt:hover {
  box-shadow: 0px 74px 80px rgba(0, 0, 0, 0.14), 0px 27.0112px 29.2013px rgba(0, 0, 0, 0.0965974), 0px 13.1134px 14.1767px rgba(0, 0, 0, 0.0778807), 0px 6.42845px 6.94968px rgba(0, 0, 0, 0.0621193), 0px 2.54182px 2.74791px rgba(0, 0, 0, 0.0434026);
}

.blog__tag {
  margin: 1rem 0;
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  color: #3e3b3b;
  justify-content: space-between;
}
.blog__tag span {
  background-color: #a83e3e;
  color: #faf9f2;
  padding: 0.5rem 1rem;
  font-family: "Inter", sans-serif;
  border-radius: 2px;
  transform: translateX(-22%);
}

.blog__txt {
  font-weight: 400;
  line-height: 125%;
  text-align: center;
  color: #aaa;
}

.blog__newsletter {
  background: #f6f6f6;
  padding: 2rem;
  position: relative;
  box-shadow: 0px 18px 82px rgba(0, 0, 0, 0.07), 0px 5.42647px 24.7206px rgba(0, 0, 0, 0.05), 0px 2.25388px 10.2677px rgba(0, 0, 0, 0.04), 0px 0.815184px 3.71362px rgba(0, 0, 0, 0.02);
}

.blog__input {
  padding: 1rem;
}
.blog__input input {
  font-size: 1.125rem;
}

.blog__form label {
  font-weight: 400;
  line-height: 125%;
  color: #aaa;
  display: block;
}
.blog__form .testee {
  position: relative;
}
.blog__form input,
.blog__form textarea {
  width: 100%;
  border: none;
  padding: 0.6rem 1rem;
  border-radius: 2px 0 0 2px;
  background-color: #fff;
  border: 2px solid rgb(220, 220, 220);
  margin: 0.5rem 0;
  color: #aaa;
  transition: 0.3s;
}
.blog__form input:focus,
.blog__form textarea:focus {
  outline: none;
  border: 2px solid #8f2525;
  box-shadow: 0 0 0 2px rgba(171, 37, 37, 0.5019607843);
}
.blog__form input:focus + #btn-insc,
.blog__form textarea:focus + #btn-insc {
  border: 2px solid #8f2525;
}
.blog__form button {
  cursor: pointer;
  position: absolute;
  top: 0;
  margin: 0.5rem 0;
  right: 0;
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.125rem;
  color: #faf9f2;
  padding: 0.5rem 2rem;
  background-color: #8f2525;
  border: 2px solid rgb(220, 220, 220);
  border-left: 0px;
  transition: 0.3s;
  border-radius: 0 2px 2px 0;
}

.blog__check {
  display: flex;
  align-items: center;
}
.blog__check input {
  width: 15px;
  height: 15px;
  margin: 0;
  margin-right: 0.5rem;
}
.blog__check label {
  margin: 0;
}

@media (max-width: 800px) {
  #blog {
    margin: 7rem 0 !important;
  }
  .blog__grid {
    grid-template-columns: 1fr;
    gap: 48px;
    padding: 48px 1rem;
  }
  .blog__newsletter {
    margin: 1rem;
    padding: 1rem;
  }
  .blog__newsletter .blog__form label {
    display: block;
    margin-bottom: 1rem;
  }
  .blog__newsletter .blog__form .testee {
    position: relative;
  }
  .blog__newsletter .blog__form input {
    width: 100%;
    border: 2px solid #aaa;
    padding: 0.6rem 1rem;
    border-radius: 2px 0 0 2px;
  }
  .blog__newsletter .blog__form button {
    position: unset;
    width: 100%;
  }
  .blog__newsletter .blog__check {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
  }
  .blog__newsletter .blog__check input {
    width: 15px;
    height: 15px;
    margin: 0;
    margin-right: 0.5rem;
  }
  .blog__newsletter .blog__check label {
    margin: 0;
  }
}
#contato {
  font-family: "Inter", sans-serif;
  margin-left: 1rem;
}
#contato form {
  width: 50%;
}
#contato h6 {
  margin: 2rem 0;
}
#contato label {
  color: #3e3b3b;
  font-weight: 400;
}
#contato input::-moz-placeholder {
  color: #aaa;
  font-weight: 200;
  font-family: "Inter", sans-serif;
}
#contato input:-ms-input-placeholder {
  color: #aaa;
  font-weight: 200;
  font-family: "Inter", sans-serif;
}
#contato input::placeholder {
  color: #aaa;
  font-weight: 200;
  font-family: "Inter", sans-serif;
}
#contato button {
  display: flex;
  position: unset;
  margin: 0.5rem 0;
}

@media (max-width: 800px) {
  #contato form {
    width: 100%;
  }
  #contato button {
    width: 100%;
    justify-content: center;
  }
}
footer {
  background-color: #8f2525;
  position: relative;
  color: #f6f6f6;
}
footer ul {
  display: inline;
}
footer ul a {
  color: inherit;
  transition: 0.4s;
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
  line-height: 170%;
  padding: 0.5rem;
}
footer ul a:hover {
  margin-left: 0.25rem;
  color: #faf9f2;
  font-weight: 700;
}

.footer__sociais a {
  display: inline-flex;
  padding: 0rem;
}
.footer__sociais a:hover {
  font-weight: 400;
}
.footer__sociais p {
  margin-left: 0.5rem;
}
.footer__sociais li:nth-child(4) {
  background-color: #6b1313;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  margin-left: -0.5rem;
  display: inline-flex;
}
.footer__sociais li:nth-child(4) a {
  transition: 0.4s;
}
.footer__sociais li:nth-child(4) a:hover {
  font-weight: 700;
}

.footer__end a {
  color: inherit;
  transition: 0.4s;
  display: inline-flex;
  padding: 0rem;
  line-height: 120%;
}
.footer__end a:hover {
  margin-left: 0rem;
  color: #faf9f2;
  font-weight: 400;
}

p {
  margin-left: 0.5rem;
}

.footer__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 32px;
  width: 70%;
  margin: 0 !important;
}

.footer__tit {
  color: #faf9f2 !important;
  margin-bottom: 32px;
}

@media (max-width: 800px) {
  footer ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  footer li {
    margin-bottom: 1rem;
  }
  footer a {
    padding: 0.5rem;
    background-color: #a83e3e;
    border-radius: 4px;
    font-size: 1rem !important;
    margin: 0.5rem;
  }
  .footer__sociais a {
    padding: 0.5rem;
  }
  .footer__sociais li:nth-child(4) {
    background-color: initial;
    padding: 0rem;
    border-radius: 4px;
    margin: 0rem !important;
  }
  .footer__sociais li:nth-child(4) a {
    transition: 0.4s;
  }
  .footer__sociais li:nth-child(4) a:hover {
    font-weight: 700;
  }
  .footer__end a {
    transition: 0.4s;
    padding: 0.5rem;
  }
  .footer__grid {
    grid-template-columns: 1fr;
    padding: 3rem 1rem;
    width: 100%;
    text-align: center;
  }
  .footer__tit {
    margin-top: 1rem;
    margin-bottom: 16px;
    font-size: 1.25rem;
  }
}
aside {
  padding: 1.25rem;
  border-left: 1px solid #aaa;
  margin-left: 1.25rem;
}
aside p {
  margin-left: 0;
}

.artigo__grid {
  display: grid;
  grid-template-columns: 75% 25%;
}

.artigo__perfil {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
.artigo__perfil p {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 130%;
  color: #1d1e1f;
}
.artigo__perfil .artigo__perfil-desc {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  line-height: 120%;
  color: #aaa;
}

.artigo__perfil-gabi img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  border: 2px solid #3e3b3b;
}

.artigos__textos {
  font-family: "Inter", sans-serif !important;
  color: #3e3b3b;
}
.artigos__textos div {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  margin-bottom: 2rem;
}
.artigos__textos span {
  background-color: #8f2525;
  padding: 4px 12px;
  border-radius: 20px;
  font-size: 0.75rem;
  color: #faf9f2;
  grid-row: 1;
  grid-column: 1;
}
.artigos__textos p {
  font-weight: 500;
  font-size: 16px;
  padding-top: 0.5rem;
  grid-row: 2;
  grid-column: 1;
}
.artigos__textos img {
  grid-row: 1/-1;
  grid-column: 2;
  margin: 0 auto;
}

.artigos__textos-tit {
  font-family: "Playfair Display", serif !important;
  font-weight: 700 !important;
  font-size: 1.125rem !important;
  color: #3e3b3b !important;
  margin: 2rem 0 1rem 0 !important;
}/*# sourceMappingURL=style.css.map */