* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "./colors";
@import "./_tipo.scss";

body {
  width: 100%;
  background-color: $bg-light;
  padding-bottom: 10rem;
}

@import "./_spacing.scss";
@import "./_layout.scss";

ul {
  display: flex;
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}

.borda {
  border: 1px solid red;
}
