* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection,
label::selection,
p::selection {
  background-color: #a83e3e;
  color: #faf9f2;
}

footer p::selection {
  background-color: #faf9f2;
  color: #a83e3e;
}

@import "./_base.scss";
@import "./_tipo.scss";

body {
  width: 100%;
  background-color: $bg-light;
}

ul {
  display: flex;
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}

@import "./_header.scss";
@import "./_hero.scss";
@import "./_areas.scss";
@import "./_chamada.scss";
@import "./_depo.scss";
@import "./_blog.scss";
@import "./_contato.scss";
@import "./_footer.scss";
@import "./_artigos.scss";
